* {
    margin: 0;
    padding: 0;
}

.main {
    margin-left: 5vw;
    margin-right: 5vw;
}
.container{
    display: flex;
}
.para1{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 1.5rem;
}

.left {
    /* border: 2px solid red; */
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    
}

.userinpt {
    width: 120px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-left: 28px;
    border: none;
}
.userinpt:focus{
    border: none;
    outline:none;
}

.btn {
    position: relative;
    top: 11px;
    left: 20.5vw;
    width: 130px;
    height: 55px;
    background-color: rgb(13, 13, 137);
    color: white;
    border: none;
    border-radius: 30px;
}
.result {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    background-color: white;
    height: 57px;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   width: 26vw;
   border-radius: 5px;
   border: 2px solid rgb(242, 240, 235);
}
.para2{
    margin-top: 39px;
    margin-bottom: 39px;
}
#resultpara{
    border: 2px solid rgb(242, 240, 235);
    width: 28.4vw;
}
.right{
    border: 2px solid red;
    width: 55vw;
    height: 60vh;
    margin-top: 46px;
}